<!-- <app-structural-directives></app-structural-directives> -->
<div style="text-align:center">
  <h2>Welcome to {{ title }}</h2>
  <!-- <h2>Welcome to {{ message }}</h2> -->
</div>

<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  |
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>

<!-- <app-interactions
  (childEvent)="message = $event"
  [parentData]="name"
></app-interactions> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-employee-list></app-employee-list> -->
<app-employee-detail></app-employee-detail>

<router-outlet></router-outlet>
